Repository Tabeyouka/tabeyouka-frontend, pull requests merged in 2023-05, with the labels that each got.

#5 feat : Add main page html
  .gitignore
  README.md
  main/index.html
  main/main.css
  main/main.js
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
Labels: 🎨 Html&css, ✨ Feature, ⚙ Setting

#6 📝 docs : Create README.md
  README.md
Labels: 📃 Docs

#7 [PL][Develop Branch] signin HTML, CSS, JS file
  signin/css/login.css
  signin/javascript/login.js
  signin/login.html
Labels: 🎨 Html&css, ✨ Feature

#8 ✨ feat : Add login page
  signin/css/login.css
  signin/javascript/login.js
  signin/login.html
Labels: 🎨 Html&css, ✨ Feature

#9 Handle login response from server in JavaScript
  signin/css/login.css
  signin/javascript/login.js
  signin/login.html
  signin/logo.png
Labels: 🎨 Html&css, ✨ Feature

#10 ✨ feat : Add store information
  README.md
  main/index.html
  main/main.css
  main/main.js
Labels: ✨ Feature
